# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore Django migrations (but keep __init__.py)
*/migrations/*
!*/migrations/__init__.py

# Ignore log files
*.log
